extends layout

block content
  include mixins/forms

  block contact_type
    type = ''

  form(name='addContactForm', action='/contacts/add_#{type}', method='POST')
    +csrf
    block management_forms
      != phoneNumberFormSet.managementForm().asP()
      != emailAddressFormSet.managementForm().asP()
      != addressFormSet.managementForm().asP()

    block contact_fields

    .module
      h2.module-legend Contact Details

      label: strong Phone Numbers
      div.empty-form(id='#{phoneNumberFormSet.prefix}EmptyForm')
        emptyForm = phoneNumberFormSet.emptyForm()
        +phoneNumberForm(emptyForm)
      div(id='#{phoneNumberFormSet.prefix}Forms')
        for form in phoneNumberFormSet.forms
          +phoneNumberForm(form)
      p
        a(id='#{phoneNumberFormSet.prefix}AddAnother') <i class="icon-plus"></i> add another phone number

      label: strong Email Addresses
      div.empty-form(id='#{emailAddressFormSet.prefix}EmptyForm')
        emptyForm = emailAddressFormSet.emptyForm()
        +emailAddressForm(emptyForm)
      div(id='#{emailAddressFormSet.prefix}Forms')
        for form in emailAddressFormSet.forms
          +emailAddressForm(form)
      p
        a(id='#{emailAddressFormSet.prefix}AddAnother') <i class="icon-plus"></i> add another email address

      label: strong Addresses
      div.empty-form(id='#{addressFormSet.prefix}EmptyForm')
        emptyForm = addressFormSet.emptyForm()
        +addressForm(emptyForm)
      div(id='#{addressFormSet.prefix}Forms')
        for form in addressFormSet.forms
          +addressForm(form)
      p
        a(id='#{addressFormSet.prefix}AddAnother') <i class="icon-plus"></i> add another address

    .form-actions
      button.btn.btn-primary(type='submit') Save
      | 
      a.btn(href='/contacts') Cancel

append scripts
  script(src='/js/forms.js')
  script
    // Set up 'add another' controls for common contact details
    var form = document.forms.addContactForm
    addAnother('#{phoneNumberFormSet.prefix}', form)
    addAnother('#{emailAddressFormSet.prefix}', form)
    addAnother('#{addressFormSet.prefix}', form)
    // Initialise popovers for inline fields with validation errors
    $('*[rel=popover]').popover({
      trigger: 'focus'
    , placement: 'bottom'
    , title: 'Validation error'
    })