extends tasks

block tasks_content
  include mixins/forms

  form.form-inline(action=cal.currentURL, method='GET')
    span.month-nav
      a(href=cal.previousURL)
        i.icon-arrow-left
        | 
      strong= cal.month
      a(href=cal.nextURL)
        | 
        i.icon-arrow-right
    | Tasks assigned to 
    +widget(filterForm, 'assignedTo')
    |  in category 
    +widget(filterForm, 'category')
    | 
    button.btn(type='submit') Filter

  table.table.table-bordered.table-condensed.table-calendar
    thead
      tr
        for heading in cal.headings
          th= heading
    tbody
      for row in cal.rows
        tr
          for cell in row
            td(class=cell.classes)
              .day= cell.date
              for task in cell.tasks
                .task
                  if (task.category)
                    span.label.label-inverse= task.category
                    br
                  if (task.time)
                    strong= $date(task.time, 'HH:mm')
                    | 
                  = task.description
                  if (task.contact)
                    br
                    | for 
                    a(href='/contact/' + task.contact.id)= task.contact