extends layout

block content
  include mixins/forms
  detailPopulated = !!form.boundField('detail').value()
  .module.actions
    h2.module-legend Actions
    .pull-left
      if (task.isCompleted())
        form.form-inline(action='/task/#{task.id}/repoen', method='POST')
          button.btn.btn-success(type='submit')
            i.icon-repeat.icon-white
            |  Reopen
      else
        form.form-inline(action='/task/#{task.id}/complete', method='POST')
          button.btn.btn-success(type='submit')
            i.icon-ok.icon-white
            |  Complete
    .pull-right
        form.form-inline(action='/task/#{task.id}/repoen', method='POST')
          button.btn.btn-danger(type='submit')
            i.icon-trash.icon-white
            |  Delete
    .clearfix
  .module
    h2.module-legend Edit Task
    form(action='/task/#{task.id}/edit', method='POST')
      +csrf
        != context.form.asHidden()
      .row
        .span6
          .row
            .span6
              +field(form, 'description')(class='span6')
                if (!detailPopulated)
                  a.pull-right(href='#more', id='moreDetailLink') add more detail
          .row
            .span3
              +field(form, 'due')(class='span3', placeholder='dd/mm/yyyy')
            .span3
              // TODO Replace with hour / minute selects
              +field(form, 'time')(class='span3', placeholder='hh:mm')
          .row
            .span3
              +field(form, 'category')(class='span3')
          .row
            .span3
              +field(form, 'assignedTo')(class='span3')
          if (!context.contact)
            .row
              .span6
                // TODO Lookup contacts by name when typing in this field
                +field(form, 'contact')(class='span6')
        #moreDetail.span6
          +field(form, 'detail')(class='span6')
      .form-actions
        button.btn.btn-primary(type='submit') Save
        | 
        a.btn(href=context.next) Cancel

append scripts
  if (!detailPopulated)
    script
      $('#moreDetail').hide()
      $('#moreDetailLink').click(function() {
        $(this).remove()
        $('#moreDetail').show(500)
      })