mixin contactRow(contact)
  if (contact.isOrganisation())
    +organisationRow(contact)
  else if (contact.isPerson())
    +personRow(contact)

mixin organisationRow(org)
  tr
    td: i.icon-briefcase
    td
      a.contact(href='/contact/' + org.id)= org.name
      +shortAddress(org)
    td
      +contactCell(org)

mixin personRow(person)
  tr
    td: i.icon-user
    td
      a.contact(href='/contact/' + person.id)= person.fullName()
      if (person.jobTitle)
        | 
        = person.jobTitle
      if (person.organisation)
        |  at 
        a(href='/contact/' + person.organisation.id)= person.organisation.name
      +shortAddress(person)
    td
      +contactCell(person)

mixin shortAddress(contact)
  if (contact.addresses.length)
    br
    = contact.shortAddress()

mixin contactCell(contact)
  if (!contact.emailAddresses.length && !contact.phoneNumbers.length)
    | &nbsp;
  else
    if (contact.emailAddresses.length)
      email = contact.primaryEmail()
      a(href='mailto:' + email.email)= email.email
      br
    if (contact.phoneNumbers.length)
      phone = contact.primaryPhone()
      = phone.number
      if (phone.type)
        | 
        span.label.label-inverse= phone.type