mixin taskTitle(task)
  .task-title
    if (task.category)
      span.label.label-inverse= task.category
      | 
    a(href='/task/#{task.id}/edit')
      = task.description
      block

mixin taskDetail(task)
  if (task.detail)
    .more-detail= task.detail

mixin taskTime(task)
  .task-time
    em
      = $date(task.due, 'ddd, MMM D')
      if (task.time)
        | , #{$date(task.time, 'H:mm')}
    block

mixin ownTaskRow(task)
  tr
    td
      input(type='checkbox', name='task', value=task.id)
    td
      +taskTitle(task)
      +taskDetail(task)
      +taskTime(task)
        if (task.contact)
          |  for 
          a(href='/contact/' + task.contact.id)= task.contact

mixin contactTaskRow(task)
  tr
    td
      input(type='checkbox', name='task', value=task.id)
    td
      +taskTitle(task)
        |  (#{task.assignedTo})
      +taskDetail(task)
      +taskTime(task)